$color: darkcyan;
$aColor: #03604d; //协议文本色

$white: #ffffff; //白色
$black: #000000; //黑色
$lightgray: #f4efef; //浅灰色（边框）
$red: #c00000; //红色（按钮）
$textColor: #352424; //文本颜色
$titleColor: #2a1a1a;
$errColor: #ff0000; //错误提示色
$errbg: #ffdede;
$inputBg: #f7f5f5; //默认输入框背景色
$codeBg: #d3cdcd; //验证码背景
$inputVal: #b4a3a3; //输入框默认文本颜色
$yellow: #de6006;
$grey: #bebebe; //灰色圆点
