body {
  background-color: skyblue;
  color: rgba(0, 0, 0, 0.1);
  background-image: url(../img/rmb.svg);
}
.square {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
