@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/normalize";

body{
  font-family:"Microsoft YaHei", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "PingFang SC", "Hiragino Sans GB", "Helvetica Neue",
    sans-serif;
}

dt,dd{
  list-style: none;
  padding: 0;
  margin: 0;
}
input{
  outline: none;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.pc-reg{
  background: #ffffff;

.top-mode{
  width: 1200px;
  height: 90px;
  margin: 0 auto;

  .logo{
    display: inline-block;
    width: 296px;
    height: 32px;
    padding: 29px 10px;
  }

  .img{
    display: inline-block;
    width: 100%;
    height: auto;
  }
}

.banner-mode{
  position: relative;

  .banner-img{
    position: absolute;
    width: 100%;
    min-width: 1200px;
    height: 500px;
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    z-index: 0;
  }
  
  .location-view{
    position: relative;
    width: 1200px;
    height: 500px;
    margin: 0 auto;
    z-index: 2;
  }

  .reg-mode{
    position: absolute;
    right: 0;
    width: 360px;
    height: 410px;
    margin: 34px 0 40px 0;
    border-radius: 4px;
    background: #ffffff;
    z-index: 1;
  }
}
.reg-mode {
  .reg-tilte{
    font-weight: bold;
    font-size: 20px;
    color: #352424;
    text-align: center;
    line-height: 16px;
    padding: 18px 0;

    .befor-icon{
      display: inline-block;
      width:14px;
      height: 22px;
      background: url(../img/stars_big@1x.png) no-repeat;
      vertical-align: middle;
    }

    .text-t{
      margin: 0 6px;
    }
    .after-icon{
      display: inline-block;
      width:14px;
      height: 22px;
      background: url(../img/stars2@1x.png) no-repeat;
      vertical-align: middle; 
    }
  }

  
.agree {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 14px;
    color: $textColor;
    font-size: 14px;
    cursor: pointer;

    .xy-btn {
      color: $aColor;
    }

    // 图标
    .form-icon {
      display: inline-block;
      width: 15px;
      height: 16px;
      margin-right: 4px;
      vertical-align: middle;
      background: url(../img/icon_radio.png) no-repeat;
      cursor: pointer;
    }

    .form-icon-c{
      background: url(../img/icon_radio_selection.png) no-repeat;
    }
  }

  .button{
    display: block;
    width: 267px;
    height: 76px;
    background: url(../img/button.png) no-repeat;
    text-align: center;
    color:$white;
    line-height: 58px;
    font-size: 17px;
    margin: 0 auto;
  }

}

.info-mode{
  width: 1200px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  padding: 20px 0;

  .title{
    font-size: 20px;
    color: #352424;
    font-weight: bold;
  }

  .info-con{
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .info-list{
    width: 46%;
    float: left;
    margin-right: 4%;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.07);
    border-radius: 6px;

    .info-img{
      float: left;
      width: 120px;
      height: 245px;
      text-align: center;
      line-height: 270px;

      .img{
        width: 65px;
        height: 65px;
      }
    }

    .info-text{
      float: left;
      margin-top: 60px;

      dt{
        font-size: 16px;
        font-weight: bold;
      }

      dd{
        font-size: 14px;
        margin-top: 10px;
        color: #352424;
      }
    }
  }
}

.footer-mode{
  width: 100%;
  height: auto;
  background: #F7F5F5;
  padding: 20px 0;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  color: #352424;
  
  a{
    color: #352424;
  }
}
}

.item-input {
    position: relative;
    height: auto;
    padding: 0 20px 14px 20px;

    ::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: $inputVal;
    }
    :-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: $inputVal;
    }
    ::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: $inputVal;
    }
    :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $inputVal;
    }

  .input-val {
    width: 100%;
    height: 22px;
    padding: 14px 0;
    background: $inputBg;
    border: none;
    color: $textColor;
    border-radius: 2px;
  }
  .padding-left{
    padding-left: 4%;
    width: 96%;
  }

  .two-input {
    display: inline-block;
    width: 54%;
    padding-left: 4%;
  }

  .pass-hide {
    position: absolute;
    top: 11px;
    right: 25px;
    width: 28px;
    height: 28px;
    background: url('../img/hide@1x.png') no-repeat;
    cursor: pointer;
  }

  .pass-show {
    background: url('../img/display@1x.png') no-repeat;
  }

  .error-box {
    display: none;
    font-size: 13px;
    color: $errColor;
    line-height: 15px;
    margin-top: 4px;

    .error-icon {
      display: inline-block;
      background: url('../img/icon_falsehints@1x.png');
      width: 13px;
      height: 13px;
      margin-right: 2px;
      vertical-align: middle;
      margin-bottom: 2px;
    }
  }

  .btn {
    display: inline-block;
    width: 38%;
    height: 50px;
    background: $codeBg;
    border-radius: 2px;
    color: $white;
    margin-left: 3%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  .code-default {
    background: $red;
  }

  .code-active {
    background: $codeBg;
  }
}

.error-info {
  .error-box {
    display: block;
  }

  input.input-val {
    background: $errbg;
  }
}

.modal-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    filter: alpha(opacity=50);
    opacity: 0.5;
    z-index: 100;
  }

  .modal-con {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 337px;
    height: 334px;
    background: $white;
    margin: auto;
    border-radius: 4px;
    z-index: 101;

    .close {
      padding: 10px 20px;
      text-align: right;
      cursor: pointer;

      .close-icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        text-align: center;
        background: url(../img/icon_close@1x.png) no-repeat;
      }
    }

    .modal-title {
      font-size: 16px;
      color: $textColor;
      text-align: center;
      line-height: 19px;
    }

    .modal-body {
      margin-top: 22px;

      .code-img {
        display: flex;
        justify-content: center;
        align-items: center;

        .bit-map {
          width: 100px;
          height: 32px;
        }

        .refresh {
          display: inline-block;
          color: #352424;
          text-decoration: underline;
          margin-left: 8px;
         
        }
      }

      .modal-btn {
       display: block;
      width: 223px;
      height: 76px;
      background: url(../img/button_popup.png) no-repeat;
      text-align: center;
      color:$white;
      line-height: 58px;
      font-size: 17px;
        margin: 20px auto 32px;
      }

      .info-con {
        padding: 30px 0;
        text-align: center;

        .info-title {
          font-size: 20px;
          color: $textColor;
        }

        .info-text {
          font-size: 14px;
          color: #b0a6a6;
          text-align: center;
          line-height: 19px;
          margin-top: 6px;
        }
      }
    }
  }

  .succeed-con{
      width: 784px;
      height: 451px;
      background: url(../img/popup_bg.png) no-repeat;
    }
}
.code-modal{//注册验证码弹窗控制
  display: none;
}

.registered-modal{//已注册弹窗控制
  display: none;
}

.succeed-modal{
  //注册成功弹窗控制
  .s-list{
    width: 200px;
    height: auto;
    padding: 60px 0;
    color: $white;
    overflow: hidden;
    margin-left: 143px;
    text-align: center;

    .succeed-title{
      font-size: 20px;
      font-weight: bold;
    }

    .succeed-text{
      text-align: center;
      font-size: 15px;
      margin-top: 10px;
    }

    .qcord{
      display:inline-block;
      width: 140px;
      height: 140px;
      margin: 20px 0;
    }

    .speed-list{
      float: left;
      width: 50%;
      height: auto;
    }

    .sh-hover{
      cursor: pointer;

      &:hover{
        
        .active{
          background: url(../img/turnover_icon@1x.png) no-repeat;
        }
      }
    }
    
    .icon-j{
      display: block;
      width: 28px;
      height: 28px;
      margin: 6px auto;
    }

    .s-icon{
      background: url(../img/icon_extremespeed.png) no-repeat;
    }

    .h-icon{
      background: url(../img/turnover_icon.png) no-repeat;
    }
  }
}

//弹窗定位
.bodyFlex {
  overflow-y: hidden;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0 auto;
}