@import "./partial/variables";
@import "./partial/mixins";
@import "./partial/normalize";

.starter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: rgba($color: #000000, $alpha: 0.2);
  font-size: 3em;

  &::before {
    content: attr(data-before);
  }

  &::after {
    content: attr(data-after);
  }
}
